packages:
  yum:
    - firefox
    - Xvfb

commands:
  01_firefox_path:
    command: "export PATH=$PATH:/usr/bin/firefox"
  02_install_geckodriver:
    command: "curl -L https://github.com/mozilla/geckodriver/releases/download/v0.29.1/geckodriver-v0.29.1-linux64.tar.gz | tar -xvz && mv geckodriver /usr/local/bin/"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
